<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccff66;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
 <img src="../../static/images/un.png" style="width:250px;height:100px;padding:left;">
  <li><a href="{% url 'seller' %}">Sellers</a></li>
  <li><a href="{% url 'buyer' %}">Buyer</a></li>
  
</ul>

</body>
</html>
